.kontaktSend {
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 60px;
    outline: medium none;
    text-transform: uppercase;
    width: 100%;
    margin-top: 10px;
    background-color: #59abe3;
}

.pTagUspesnoPoslataPoruka {
    color: #3eff29;
    font-size: 18px;
    font-weight: bold;
}