<app-background-header></app-background-header>


<section id="aa-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-about-us-area">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="aa-about-us-left">
                                <img src="assets/img/bmw.jpg" alt="o-nama-image">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="aa-about-us-right">
                                <div class="aa-title">
                                    <h2>O nama</h2>
                                    <span></span>
                                </div>
                                <p>
                                    Rent a Car Ivan se nalazi u Zemunu i osnovan je 2020. godine. Za ovo kratko vreme stekli smo poverenje naših klijenata nudeći veliki izbor automobila po pristupačnim cenama. Želimo da budemo Vaš Rent a Car partner koji će biti pouzdan našim klijentima,
                                    koji će konstantno unapređivati nivo usluge i težiti najvišim standardima sa željom da udovoljimo klijentima kvalitetnom uslugom i povoljnim cenama. O tome brine tim ljubaznih, dobro obučenih i profesionalnih radnika.
                                    Nudimo Vam nove, pouzdane i komforne automobile, pogodne, kako za gradsku, tako i za vožnju van grada.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>